<div class="container">
    <h1>Edit Offer vendor</h1>

    <%= render "form.html", Map.put(assigns, :action, admin_panel_offer_vendor_path(@conn, :update, @offer_vendor)) %>

    <span><%= link "Back", to: admin_panel_offer_vendor_path(@conn, :index) %></span>
</div>