<h1><%= gettext("New Claim ID") %></h1>
<%= render "form.html", Map.put(assigns, :action, Routes.admin_panel_offer_vendor_path(@conn, :create)) %>
<span><%= link gettext("Back"), to: Routes.admin_panel_offer_vendor_path(@conn, :index) %></span>
