<h1>Show Offer vendor</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.admin_panel_offer_vendor_path(@conn, :edit, @offer_vendor) %></span>
<span><%= link "Back", to: Routes.admin_panel_offer_vendor_path(@conn, :index) %></span>
