<div class="card">
    <div class="card-body">
        <h1><span class="fa fa-map-marker"></span> <%= gettext("New %{name} Location", name: @partner.name) %></h1>
        <%= render "_form.html", Map.put(assigns, :action, Routes.org_panel_partner_org_panel_partner_location_path(@conn, :create, @partner)) %>
    </div>
</div>