<div class="container">
<h2>Edit Sendgrid Email</h2>
<%= render "form.html", Map.put(assigns, :action, admin_panel_emails_path(@conn, :update, @sendgrid_email)) %>
<span><%= link "Back", to: admin_panel_emails_path(@conn, :index) %></span>
</div>
