<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bravera: Fundraise while you Train with Fitness with Impact">
    <meta name="author" content="Bravera.co">

    <meta property="og:title" content="Bravera.co | Fitness with Impact" />
    <meta property="og:type" content="fitness.fundraising" />
    <meta property="og:url" content="https://www.bravera.co" />
    <meta property="og:image" content="<%= static_path(@conn, "/images/bravera_stacked_small.jpg") %>" />

    <title>Bravera</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const stripe_public_key = "<%= Application.get_env(:omega_bravera, :stripe_public_key) %>"
    </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= if assigns[:drift_id] do %>

      <!-- Start of Async Drift Code -->
        <script>
        "use strict";

        !function() {
          var t = window.driftt = window.drift = window.driftt || [];
          if (!t.init) {
            if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
            t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
            t.factory = function(e) {
              return function() {
                var n = Array.prototype.slice.call(arguments);
                return n.unshift(e), t.push(n), t;
              };
            }, t.methods.forEach(function(e) {
              t[e] = t.factory(e);
            }), t.load = function(t) {
              var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
              o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
              var i = document.getElementsByTagName("script")[0];
              i.parentNode.insertBefore(o, i);
            };
          }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('<%= assigns[:drift_id] %>');
        </script>
      <!-- End of Async Drift Code -->

    <% end %>
  </head>

  <body class="gray-background">
    <div class="vh-top">
    <%= if logged_in?(@conn) && not is_admin?(@conn) do %>
      <%= render "auth_nav.html", conn: @conn %>
    <% else %>
      <%= render "unauth_nav.html", conn: @conn %>
    <% end %>

    <div class="text-center">
      <p class="alert alert-success" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>

    <section class="container-fluid flex-grow px-0 px-sm-3">
      <%= render @view_module, @view_template, assigns %>
    </section>

    <footer class="footer">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #F5274B;">
          <div class="d-flex flex-grow-1">
              <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>

              <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
          </div>
          <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarCollapse">
            <ul class="navbar-nav ml-auto flex-nowrap">
              <li class="nav-item pr-0">
                <%= link("FAQ", to: "https://www.bravera.fit/faq/", target: "_blank") %>
              </li>
              <li class="nav-item">
                <%= link(gettext("Privacy"), to: "https://www.bravera.fit/privacy/", target: "_blank") %>
              </li>
              <li class="nav-item">
                <%= link(gettext("Terms of Use"), to: "https://www.bravera.fit/terms", target: "_blank") %>
              </li>
              <li class="nav-item">
                <a href="mailto:admin@bravera.co"><%= gettext("Contact Us") %></a>
              </li>
            </ul>
          </div>
        </nav>
				<nav class="navbar navbar-expand">
          <ul class="navbar-nav">

          </ul>
        </nav>
      </div>
    </footer>
    </div>
    <%= if assigns[:google_analytics_id] do %>
      <!-- Google Analytics -->
      <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};

        ga.l=+new Date;
        ga('create', '<%= assigns[:google_analytics_id] %>', 'auto');
        ga('send', 'pageview');
      </script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
      <!-- End Google Analytics -->
    <% end %>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b971be1d33e6c39"></script>
  </body>
</html>
