<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bravera: Get rewards for moving.">
    <meta name="author" content="Bravera.co">

    <meta property="og:title" content="Bravera.co | Move. Get Rewards." />
    <meta property="og:type" content="fitness.rewards" />
    <meta property="og:url" content="https://www.bravera.co" />
    <meta property="og:image" content="<%= Routes.static_path(@conn, "/images/bravera_stacked_small.jpg") %>" />
    <%= csrf_meta_tag() %>

    <style>
        #safariButton {
            display: none;
            color: red;
        }
    </style>


    <title>Bravera</title>

    </head>
    <body>
      <%= @inner_content %>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                let isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

                if(!isSafari) {
                    let url = "<%= Routes.url(@conn) %>".replace("http://", "").replace("https://", "");
                    window.location.replace(`unilinks://${url}${window.location.pathname}${window.location.search}`);
                } else {
                    window.location.replace(`braveralink://open-app${window.location.pathname}${window.location.search}`);
                }
            });
        </script>
    </body>
</html>