<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bravera</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!--
      © 2018 Bravera™
      Engineered by Nick West
      devMail: nickw (at) bravera.co
    -->
  </head>

  <body class="gray-background">
  <div class="vh-top">

    <%= render "auth_nav.html" %>

    <div class="nav-scroller bg-white box-shadow">
      <div class="container">
        <nav class="nav nav-underline">
          <a class="nav-link active" href="#">Dashboard</a>
          <a class="nav-link" href="#">
            Friends
            <span class="badge badge-pill bg-light align-text-bottom">27</span>
          </a>
          <a class="nav-link" href="#">Explore</a>
          <a class="nav-link" href="#">Suggestions</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
        </nav>
      </div>
    </div>
  </div>

    <section class="container-fluid flex-grow">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <!-- TODO Async/defer for scripts or nah? -->
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </section> <!-- /container -->

    </div>

    <footer class="p-3 bg-bravera">
      <div class="container-fluid text-center">
        <span class="center-text text-white">
          <span>©</span>
            2018 Bravera
        </span>

      <div class="powered-by text-center mt-2">
        <img src="/images/strava/powered-by.png" />
      </div>

      <div class="bravera-white text-center">
        <img src="/images/bravera-logo-w-1x.png" />

      </div>

    </div>

    </footer>
    <!-- © 2018 Bravera™ | devMail: nickw (at) bravera.co -->
  </body>
</html>
