<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bravera: Fundraise while you Train with Fitness with Impact">
    <meta name="author" content="Bravera.co">
    <meta property="og:title" content="Bravera.co | Fitness with Impact" />
    <meta property="og:type" content="fitness.fundraising" />
    <meta property="og:url" content="https://www.bravera.co" />
    <meta property="og:image" content="<%= static_path(@conn, "/images/bravera_stacked_small.jpg") %>" />

    <title>Bravera</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="gray-background">
    <div class="vh-top">
    <div class="text-center">
      <p class="alert alert-success" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>

    <section class="container-fluid flex-grow">

      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </section> <!-- /container -->

    </div>
    <%= if assigns[:google_analytics_id] do %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%= assigns[:google_analytics_id] %>"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '<%= assigns[:google_analytics_id] %>');
        </script>
    <% end %>
  </body>
</html>
