<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bravera: Fundraise while you Train with Milestones that Matter">
    <meta name="author" content="Bravera.co">
    <meta property="og:title" content="Bravera.co | Milestones that Matter" />
    <meta property="og:type" content="fitness.fundraising" />
    <meta property="og:url" content="https://www.bravera.co" />
    <meta property="og:image" content="https://bravera.co/images/bravera-cover.png" />

    <title>Bravera</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <!--
      © 2018 Bravera™
      Engineered by Nick West
      devMail: nickw (at) bravera.co
    -->
  </head>

  <body class="gray-background">
    <div class="vh-top">
    <div class="text-center">
      <p class="alert alert-success" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>

    <section class="container-fluid flex-grow">

      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </section> <!-- /container -->

    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123069307-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-123069307-1');
    </script>
    <!-- © 2018 Bravera™ | devMail: nickw (at) bravera.co -->
  </body>
</html>
