<div class="row">
  <div class="col-6">Date</div>
  <div class="col-6">Distance</div>
</div>
<%= for activity <- @activities do %>
  <div class="row">
    <div class="col-6"><%= Timex.format!(activity.start_date, "%b %d", :strftime) %></div>
    <div class="col-6"><%= render_activity(activity.distance) %> Km</div>
  </div>
<% end %>
