<div class="card">
    <div class="card-body">
        <h1><span class="fa fa-credit-card"></span> <%= gettext("Edit Offline Offers") %></h1>
        <%= render "form.html", Map.put(assigns, :action, Routes.org_panel_offline_offers_path(@conn, :update, @offer)) %>
        <span><%= link "Back", to: Routes.org_panel_offline_offers_path(@conn, :index) %></span>
    </div>
</div>