<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col">
				<h2><span class="fa fa-trophy"></span> <%= @offer.name%>'s Offer Challenges:</h2>
				<ul>
					<%= for offer_challenge <- @offer.offer_challenges do %>
					<li><%= offer_challenge.slug %></li>
					<% end %>
					<% %>
				</ul>
				<span><%= link "Back", to: Routes.admin_panel_offer_path(@conn, :index) %></span>
			</div>
		</div>
	</div>
</div>