<div class="card mb-3">
  <div class="card-body">
    <p>
      <%= @current_user.firstname %>, looks like you haven't donated. Challenges where the challenger donates have more donors and raise more money
      for their cause. Put your money where your mouth is and donate to your own challenge
    </p>
    <a href="#donation-form" class="btn btn-success">Donate now</a>
  </div>
</div>
