<%= if @challenge.type == "Per Goal" do %>
  <%= render("per_goal_challenge_milestones.html", assigns) %>
<% end %>
<%= if @challenge.type == "Per KM" do %>
  <%= render("per_km_challenge_milestones.html", assigns) %>
<% end %>