.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.nav-profile) > .nav-link, .sidebar .nav .nav-item.active {
    background-color: #F5274B;
    color: white;
}

.sidebar .nav .nav-item:hover, .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.nav-profile) > .nav-link, .sidebar .nav .nav-item.active {
    background-color: white;
    color: #F5274B;
}

.sidebar .nav .nav-item.active > .nav-link i, .navbar .navbar-menu-wrapper, a {
    color: #F5274B;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow::before, .sidebar .nav .nav-item.active .nav-link.collapsed .menu-arrow::before, .sidebar .nav .nav-item.active .nav-link[aria-expanded="true"] .menu-arrow::before {
    color: #F5274B;
}

i.fas.fa-feather.icon-sm {
    color: #F5274B !important;
}

.btn.btn-outline-primary {
    color: #F5274B;
    border-color: #F5274B;
}

.btn.btn-primary {
    background-color: #F5274B;
    border-color: #F5274B;
}

.page-item.active .page-link {
    background-color: #F5274B;
    border-color: #F5274B;
}

.badge-secondary {
    background-color: #F5274B;
    border-color: #F5274B;
}

.sidebar .nav .nav-item .nav-link, .sidebar .nav .nav-item .nav-link i.menu-arrow + .menu-icon, .sidebar .nav .nav-item .nav-link, .sidebar .nav .nav-item .nav-link i.menu-arrow + .menu-icon, .sidebar .nav .nav-item .nav-link i.menu-arrow, .sidebar .nav .nav-item .nav-link i.menu-icon {
    color: white;
}

.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #F5274B;
}

.sidebar {
    background-color: #F5274B;
    color: white;
}