$theme-colors: (
  "secondary": #c0c0c0,
  "danger": #d21034,
  "bravera": #F5274B,
  "green": #3FA83C,
  "background": #F9F5F5
);

@import "bootstrap";
@import "font-awesome";

.halfway-down{
  margin-top: 50%;
}

.scroll-col{
  max-height: 800px;
  overflow-y: scroll;
}

.nonscroll-col{
  position: sticky;
}

// NavBar styling
.navbar {
  li.nav-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    a {
      color: black;
      &:hover {
        color: lightblue;
        text-decoration: none;
      }
      .fa-nav {
        font-size: 1.5em;
      }
      @include media-breakpoint-up(md) {
        &:first-child {
          margin-right: 18px;
        }
      }
    }

  }
}

// Footer
html {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: 60px;
  }
}
footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #F5274B;
  .navbar {
    justify-content: flex-end;
    padding: 0 1rem;
    li.nav-item {
      justify-content: center;
      flex-direction: column;
    }
  }
}

#start-date{
  font-size: 14px;
  margin-left: -10px;
}

.donate-btn{
  min-width: 200px;
  max-width: 500px;
}

.chal-progress{
  height: 18px;
  border-radius: 20px;
}

.milestone-label{
  width: 250px;
}

.charity-desc{
  margin: 20px 0px;
}

.money-progress{
  height: 35px;
  border-radius: 100px;
}

h1{
  font-weight: 300;
}

.text-400{
  font-weight: 400;
}

.text-420{
  font-weight: 420;
}

.text-500{
  font-weight: 500;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.redbar{
  text-align: center;
}

.card{
    -webkit-box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
    border: none;
}

.inset-box-shadow{
  -webkit-box-shadow: inset 0px 0px 12px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 0px 12px rgba(0,0,0,0.2);
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
  border: none;
}

.gray-background{
  background-color: #F9F5F5;
}

.leaderboard-name{
  color: gray;
  text-decoration: underline;
  font-weight: 500;
  font-size: 22px;
}

.challenge-img-left{
  max-width: 600px
}

.challenge-img-right{
  max-width: 600px
}

/* Dot style for toggle button */

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li button {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255,255,255,0.3);
	text-indent: -999em;
	cursor: pointer;
	position: absolute;
}

.dotstyle-fillup li button {
	overflow: hidden;
	background-color: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
	transition: background 0.3s;
}

.dotstyle-fillup li button::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 1px #fff;
	transition: height 0.3s;
}

.dotstyle-fillup li button:hover,
.dotstyle-fillup li button:focus {
	background-color: theme-color("bravera");
}

.dotstyle-fillup li.current button::after {
	height: 100%;
}

// Default phoenix styles below

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.big-logo {
  width: 221px;
  height: 46px;
  display: inline-block;
  margin-bottom: 0.2em;
  background-image: url("/images/bravera-logo-2x.png");
  background-size: 221px 46px;
}

.lil-logo {
  width: 150px;
  height: 31px;
  display: inline-block;
  background-image: url("/images/150px-bravera-white-logo.png");
  background-size: 150px 31px;
}

// Sign in/register form styles

.signin {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 25px;

  .checkbox {
    font-weight: 400;
  }

  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
    input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    input[type="password"] {
      margin-bottom: -1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    input[type="confirm-password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

//  TODO VH Top and Footer for screens with footer
// .vh-top{
//   min-height: 80vh;
// }
//
// footer{
//   margin-top: 25px;
//   min-height: 20vh;
// }

.btn{
  border-radius: 10px;
  padding: 5px 18px;
}
////////////////////////////////
// $$$$ PARTICIPANT PAGE $$$$ //
////////////////////////////////

// text-shadow: horizontal-offset vertical-offset blur color;
.card-img-text-shadow{
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0.5);
}

.max-w-775{
  max-width: 775px;
}

.margin-auto{
  margin: 0 auto;
}

.chal-header{
  max-height: 140px;
}
.card-img-overlay{
  padding-top: 5px;
}

.border-bravera{
  border-width: 3px !important;
}

@include media-breakpoint-up(lg){
  .cause-card {
    width: 600px;
    height: 200px;
    margin: 0 auto;
  }
}
@include media-breakpoint-up(sm){
  .cause-card {
    width: 350px;
    height: 200px;
    margin: 0 auto;
  }
}

.cause-img {
  max-width: 704px;
  max-height: 175px;
}

.cause-thumb{
  z-index: 3;
}

.form-thumb{
  width: 175px;
  height: 175px;
}

.form-button{
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

.distance-select{
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.currency-selector{
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
}

.currency-select-label{
  margin-top: -3px;
  margin-bottom: -3px;
}

.fund-input-container{
  margin: 0 auto;
  max-width: 300px;
}

.money-input{
  text-align: right;
}

.custom-select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// TODO RESPONSIVE PROGRESS CIRCLE IMAGE AND STUFF

@include media-breakpoint-up(md) {
  .chal-header{
    max-height: 200px;
  }

  .card-img-overlay{
    padding-top: 10px;
  }
}

////////////////////////////////
// $$$ TEXT MEDIA QUERIES $$$ //
////////////////////////////////
h3 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.2rem;
}

.sign-up{
  font-size: 1.2rem;
}

@include media-breakpoint-up(sm) {
  h3 {
      font-size: 1.8rem;
    }
  h5 {
      font-size: 1.5rem;
  }
  .sign-up{
    font-size: 1.2rem;
  }
  .cat-img{
    min-height: 200px;
    min-width: 300px;
  }
}

@include media-breakpoint-up(md) {
  h3 {
      font-size: 2.0rem;
    }
  h5 {
      font-size: 1.7rem;
  }
  .sign-up{
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  h3 {
      font-size: 2.2rem;
    }
  h5 {
    font-size: 1.9rem;
  }
}

// page_path :index
div.page-index {
  padding-bottom: 1%;
  .card3bottom {
    background-color: #f1eeee;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .card3bottomright {
    padding: 20px 10px 10px 60px;
    display: inline-block;
    background-color: #f1eeee;
    img{
      width:30px;
      display: inline-block;
    }
    p{
      font-size:10px;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .circle-logo{
    width: 150px;
    height: 150px;
  }

  .challenge-section {
    img {
      width:100%;
      height:auto;
      margin:auto;
      padding-top:70px;
      padding-bottom:50px;
    }
    @include media-breakpoint-down(sm) {
      div.embed-responsive {
        margin-bottom: 3%;
      }
    }
    .challenge-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      h3, h5, p {
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }
  }
}

// Challenge Signup Form

.checkboxgroup{
    display:inline-block;
    text-align:center;
}
.checkboxgroup label {
    display:block;
}

.btn-sq-lg {
  width: 125px;
  height: 125px;
}

.btn-sq-lg.focus,
.btn-sq-lg:focus {
  box-shadow: none;
  border-color: #3aaa35;
  background-color: #f6f6f6;
}

.btn-sq-lg.active,
.btn-sq-lg:active {
  box-shadow: none;
  border-color: #3aaa35;
  background-color: #f6f6f6;
}

.radio-img{
  // visibility: hidden; /* Makes input not-clickable */
  // position: absolute; /* Remove input from document flow */
}

.radio-btn-selected{
  box-shadow: none;
  border-color: #3aaa35;
  background-color: #f6f6f6;
}

.activity-text{
  color: black;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

.challenge-img-left{
  max-width: 600px
}

.challenge-img-right{
  max-width: 600px
}

.milestone-donations{
  color: black;
}

#m1-label{
  color: #c0c0c0;
}

#m2-label{
  color: #c0c0c0;
}

#m3-label{
  color: #c0c0c0;
}

.max-w-300{
  max-width: 300px;
}

.max-w-500{
  max-width: 500px;
}
