<div class="container">
    <h2 class="d-flex justify-content-center mt-5 text-success">Confirmed!</h2>
    <div class="d-flex justify-content-center mt-5 text-danger">
        <span>Total Redemptions to date:</span>
        <span><b><%= redeems_total(@offer_challenge.offer.offer_redeems) + 1%></b></span>
    </div>
</div>