<div class="container">
    <h2 class="d-flex justify-content-center mt-5 text-success">Redeem sucessful!</h2>
    <div class="d-flex justify-content-center mt-5 text-danger">
        <span>Total redeems to date:</span>
        <span><b><%= length(@offer_challenge.offer.offer_redeems) %></b></span>
    </div>
</div>