<h2><%= gettext("Edit User") %></h2>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_panel_user_path(@conn, :edit, @user)) %>

<span><%= link "Back", to: Routes.admin_panel_user_path(@conn, :index) %></span>