<div class="row">
	<div class="col-6 offset-3">
		<h2>Show User</h2>

		<ul>

		  <li>
		    <strong>Email:</strong>
		    <%= @user.email %>
		  </li>
			<li>
				<strong>Strava URL: </strong>
				<%= if @user.strava != nil, do: link("Visit", to: "https://www.strava.com/athletes/#{@user.strava.athlete_id}", target: "_blank") %>
			</li>

		</ul>

		<span><%= link "Back", to: admin_panel_user_path(@conn, :index) %></span>
	</div>
</div>