<h2><%= "#{@user.firstname} #{@user.lastname}" %></h2>

<ul>
	<li>
		<strong>Email:</strong>
		<%= @user.email %>
	</li>
	<li>
		<strong>Strava URL: </strong>
		<%= if @user.strava != nil, do: link("Visit", to: "https://www.strava.com/athletes/#{@user.strava.athlete_id}", target: "_blank"), else: "None" %>
	</li>
	<li>
		<strong><%= gettext("Email Verified") %></strong>
		<%= @user.email_verified %>
	</li>
</ul>

<span><%= link "Back", to: Routes.admin_panel_user_path(@conn, :index) %></span>
