<h1><%= gettext("Edit %{name} Location", name: @partner.name) %></h1>
<%= render "_form.html", Map.put(assigns, :action, Routes.admin_panel_partner_admin_panel_partner_location_path(@conn, :update, @partner, @location)) %>