<div class="container">
    <h1>Edit Location</h1>
    <%= render "_form.html", Map.put(assigns, :action, admin_panel_locations_path(@conn, :update, @location)) %>
    <span><%= link "Back", to: admin_panel_locations_path(@conn, :index) %></span>
</div>