<div class="container">
    <h1>New Location</h1>
    <%= render "_form.html", Map.put(assigns, :action, admin_panel_locations_path(@conn, :create)) %>
    <span><%= link "Back", to: admin_panel_locations_path(@conn, :index) %></span>
</div>
