<div class="container">
<h2>Edit NGO</h2>
<%= render "form.html", Map.put(assigns, :action, admin_panel_ngo_path(@conn, :update, @ngo)) %>
<span><%= link "Back", to: admin_panel_ngo_path(@conn, :index) %></span>
</div>
