<div class="row">
	<div class="col-6 offset-3">
		<h2><%= @ngo.name%>'s Challenges:</h2>
		<ul>
      <%= for ngo_chal <- @ngo.ngo_chals do %>
		    <li><%= link ngo_chal.slug, to: admin_panel_challenges_path(@conn, :show, ngo_chal) %></li>
      <% end %>
      <% %>
		</ul>
		<span><%= link "Back", to: admin_panel_ngo_path(@conn, :index) %></span>
	</div>
</div>