<div class="card">
    <div class="card-body">
        <h1><%= gettext("Edit Group") %></h1>
        <small class="text-muted">
            <%= gettext("(This is where you create and manage the ‘groups’ you list inside the Bravera app. This includes, Group Name, Short Intro, Description, Adding images, Add a password to join, Email contact details, Location (optional). Adding offers and rewards. Get started by creating your first group. If you need help, ") %>
            <a href="#"><%= gettext("click here") %></a>)
        </small>
        <%= render "_form.html", Map.put(assigns, :action, Routes.admin_panel_partner_path(@conn, :update, @partner)) %>
    </div>
</div>